@model SistEduc.Models.HomeIndexViewModel
@{ 
    ViewBag.Title = "Início";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Início</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>Bem-vindo, professor!</h2>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget style1 navy-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span> Total de alunos </span>
                                        <h2 class="font-bold">@Model.Alunos.Count()</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget style1 gray-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-list fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span> Total de temas </span>
                                        <h2 class="font-bold">@Model.Temas.Count()</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget style1 lazur-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-edit fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span> Perguntas cadastradas </span>
                                        <h2 class="font-bold">@Model.Perguntas.Count()</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget style1 yellow-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-check-square-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span> Respostas dos alunos </span>
                                        <h2 class="font-bold">@Model.Respostas.Count()</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


    </div>

