@model SistEduc.Models.Pergunta

@{
    ViewBag.Title = "Detalhes da Pergunta";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalhes da Pergunta</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Pergunta")">Perguntas</a>
            </li>
            <li>
                <a>Detalhes da Pergunta</a>
            </li>

        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div>
                        <h4>Pergunta</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Enunciado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Enunciado)
                            </dd>

                            <dt>
                                Tema
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Tema.Nome)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Voltar para lista", "Index")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
